body{
    background-color: whitesmoke;
}

h2 {
    margin: 0 auto; 
    max-width: 600px;
    text-align: center;
    font-size: 50px;       
}

#data-and-results {
    display: grid;
    justify-content: center;	
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 50px);
    grid-gap: 10px;
    margin-bottom: -70px;
    text-align: center;
    font-size: 25px;
}

.result-item{
    background-color: whitesmoke;    
}

.result-item.lifes{
    color: green;
}

#squares-wrapper {
    display: grid;
    justify-content: center;	
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    grid-gap: 10px;
  }
  
  .square {
    border-radius: 5px;
    font-size: 20px;
    color: red;
  }